{% extends 'passwords/base.html' %}

{% block content %}
<div>
    <h1>Generator of passwords</h1>
    <div>
        <h5>Password:</h5>
        <div class="input-group mb-3">
            <input type="text" value="{{ generated_password }}" id="generated-password" readonly>
            <button class="btn" type="button" onclick="copyPassword()">Copy</button>
        </div>
        <a href="{% url 'generate_password' %}" class="btn">Generate</a>
    </div>
</div>

<script>
function copyPassword() {
    var passwordField = document.getElementById("generated-password");
    passwordField.select();
    document.execCommand("copy");
    alert("Password copied to clipboard");
}
</script>
{% endblock %}