{% extends 'passwords/base.html' %}

{% block content %}
<div class="content">
    <h1>My passwords</h1>
    <a href="{% url 'add_password' %}" class="btn btn-primary mb-3">Add password</a>
    <a href="{% url 'generate_password' %}" class="btn btn-secondary mb-3">Generate password</a>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Site</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Datetime added</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in passwords %}
                <tr>
                    <td>{{ entry.website }}</td>
                    <td>{{ entry.username }}</td>
                    <td>{{ entry.email }}</td>
                    <td>
                        <input type="password" value="{{ entry.password }}" readonly>
                        <button class="btn" onclick="togglePassword(this)">Show</button>
                    </td>
                    <td>{{ entry.created_at|date:"d.m.Y" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
function togglePassword(button) {
    var input = button.previousElementSibling;
    if (input.type === "password") {
        input.type = "text";
        button.textContent = "Hide";
    } else {
        input.type = "password";
        button.textContent = "Show";
    }
}
</script>
{% endblock %}